
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,500;1,700;1,900&display=swap');



body{
    box-sizing: border-box;
    background: linear-gradient(180deg, #121E4A 16.71%, #2D52D9 150.97%) fixed;
}

main h1{
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    color: aliceblue;
    
}
main div .Card1 {
    box-sizing: content-box;
    float: left;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: radial-gradient(101.11% 101.11% at 50% 50%, #FFFFFF 0%, rgba(222, 222, 222, 0.85) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 3px solid #4D5FA0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}