
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,500;1,700;1,900&display=swap');



body{
    box-sizing: border-box;
    background: linear-gradient(180deg, #121E4A 16.71%, #2D52D9 150.97%) fixed;
}

main .principal {
    position: relative;
    margin: 15px auto;
    background: #e4630e;
    width: 1500px;
    height: 800px;
    border-radius: 25px;
}

main div .Card1 {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 358px;
    height: 583px;
    background:radial-gradient(101.11% 101.11% at 50% 50%, #FFFFFF 0%, rgba(222, 222, 222, 0.85) 100%);
    border: 3px solid #4D5FA0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;   
}

main div .conteudo{
    position: relative;
}

main div .nome1{
position: absolute;
left: 20%;
right: 20%;
margin-top: 240px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #131F4A;
} 

main div .nome2{
    position: absolute;
    left: 20%;
    right: 20%;
    margin-top: 265px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    
    color: #131F4A;
    } 

    hr{
        position: relative;
        width: 60%;
        top: 310px;
        color: #131F4A;
        margin-left: auto;
        margin-right: auto;


        text-align: center;

         
    }


main div .img{
position: absolute;
left: 21%;
right: 20%;
margin-top: 20px;


background: url(FotoPerfil.png);
height: 200px;
border: 3px solid #121E4A;
box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
border-radius: 500px;
}